<!--The content below is only a placeholder and can be replaced.-->
<div class="container"> 
<br><h3>{{title}}</h3><br>
<nav >
<a routerLink="/detaddress" routerLinkActive="active-link" >Home</a> | 
<a routerLink="/addbook" routerLinkActive="active-link" >Add Users</a>
</nav>  
</div>  <br>
    <div class="container">
          <router-outlet></router-outlet>	  
            <!-- <h3>I'm in the AppComponent</h3>
            <hr> -->
               <!-- <app-detaddress></app-detaddress>    -->
            
            <!-- <app-addbook></app-addbook> -->
             <!-- <app-servers></app-servers>  -->
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
</div>
